## Functions

Quick and dirty functions to create unique randomized tests. These can be improved, right now they are just scripts.

In [31]:
def make_multiple_choice(question, choices, which=1, randomize=True, aota=False, 
    nota=False, none_prob=0.2, number=None):
    """
    Create a multiple choice question randomizing order
        number : question number on test (for formatting)
        question : string
        choices : list of string 
        which : which choice is correct (defaults to first in list)
            if -1 then "None of the above" is correct and a correct answer 
                wasn't provided
            if 0 then "All of the above" is correct 
        randomize : randomize order of options, making questions unique
        aota : include "All of the above" as an option
        nota : include "None of the above" as an option 
        none_prob : probability that "None of the above" is right (If a correct 
            answer is supplied, it will be removed with this probability.) 


    Note: 
       - "All of the above" always appears before "None of the above" in 
         options and after random shuffle
       - If a correct answer is removed and the answer made "None of the above",
         and there are only 3 remaining options, then "All of the above" will 
         also be added 
    
    """
    import random
    import string

    AOTA = "All of the above"
    NOTA = "None of the above"
    
    # Select right answer if given
    if which > 0:
        correct = choices[which-1]
    elif which == 0:
        correct = AOTA
    else: # which == -1:
        correct = NOTA
        
    # Randomize order of options before appending 'All ...' or 'None ...'
    if randomize:
        random.shuffle(choices)

    # Append 'All of the above'
    if aota or which == 0 :
        choices.append(AOTA)

    # Append 'None of the above'
    if nota or which == -1:
        choices.append(NOTA)

    # Remove the correct answer with probability none_prob
    if which > 0 and nota and none_prob > 0:
        if random.random() <= none_prob:
            choices.remove(correct)
            correct = NOTA
            # if not enough options after removing the correct answer, add ALL
            if (not aota) and len(choices) <= 4:
                choices.insert(len(choices)-1, AOTA)
    
    # get correct answer
    answer = string.ascii_lowercase[choices.index(correct)]


    # format if number present
    if number is None:
        blank = "\n"
    else:
        # format the question
        if(number > 9):
            blank = "\n    "
        else:
            blank = "\n   "
        
        question = str(number) + ". " + question

    # Format the question with options                
    for i, choice in enumerate(choices):
        question += blank + string.ascii_lowercase[i] + ") " + str(choice)

    return question, answer

In [2]:
def make_true_false(question, answer, number=None):
    """
    Format a True/False question
    """

    # format if number present
    if number is None:
        blank = "\n"
    else:
        # format the question
        if(number > 9):
            blank = "\n    "
        else:
            blank = "\n   "
        
        question = str(number) + ". " + question
        
    question += blank + "a) True"
    question += blank + "b) False"

    if answer.lower() in ['t', 'true']:
        answer = "a"
    else:
        answer = "b"

    return question, answer

In [3]:
def update_question_templates(raw):
    """
    Helper code to save questions imported from the xlsx file into the question_templates table of the database
    
    This basically has no error checking, and assumes that the line
        templates = metadata.tables['question_templates']  
    has been run beforehand
    
    """
    # If empty, set to database default
    if raw[2] == '':   
        correct = 1
    else:
        correct = raw[2]

    if raw[3] == '':
        randomize = 1
    else:
        randomize = raw[3]

    ins = templates.insert().values(
        question = raw[0],
        answer = raw[1], 
        correct = correct, 
        randomize = randomize, 
        type = raw[4],
        comments = 'labels: ' + raw[5] + '; author: ' + raw[7] 
    )

    conn.execute(ins)

In [4]:
def get_id_list(query, n=None, randomize=True, as_text=False):
    """
    Retrieves a list of id's from the question template table
    Alternatively randomize them
    """
    result = conn.execute(query).fetchall()
    df = pd.DataFrame(result)
    df.columns = result[0].keys()
    id = df['id'].to_list()
    
    if (n is None) or (n == 0):
        n = len(id)
    # if randomizing order of questions
    if randomize:
        id = random.sample(id, n)
    else:
        id = id[0:n]
        
    # return as a text object to store in database
    if as_text:
        id = "(" + ', '.join(map(str, id)) + ")"

    return id

In [5]:
def get_queries_by_name(name):
    """
    Select queries from a test and execute them
    
    Need to add error checking, etc. into this to make it work.
    """
    
    ## using the text() object to execute across multiple tables
    sql = """
    SELECT b.id, a.section, CONCAT(a.prefix, a.definition) AS query, a.randomize, a.n 
    FROM test_subqueries a, test_definitions b 
    WHERE a.definition_id=b.id AND b.name= :name
    """

    result = conn.execute(text(sql), name=Name).fetchall()

    df = pd.DataFrame(result)
    df.columns = result[0].keys()
    
    result = []
    for i, query in enumerate(df['query']):
        tmp = get_id_list( df['query'][i], n=df['n'][i], randomize=df['randomize'][i] )
        result = result + tmp # concatenate lists
    
    result = "(" + ', '.join(map(str, result)) + ")"
    return result

In [24]:
def get_test_number(name):
    """
    Select id number from a test described by :name
    """
    ## using the text() object to execute across multiple tables
    sql = """
        SELECT id FROM test_definitions b WHERE name= :name
        """
    result = conn.execute(text(sql), name=Name).fetchall()

    df = pd.DataFrame(result)
    df.columns = result[0].keys()

    return df['id'][0]

## Connect to MySQL Database

In [33]:
import sqlalchemy as db
import pandas as pd

engine = db.create_engine('mysql://root:root@127.0.0.1:8306/certification')
#engine = db.create_engine('mysql://root:root@127.0.0.1:8889/certification')
conn = engine.connect()

# Create a MetaData instance
metadata = db.MetaData()

# reflect db schma to MetaData
metadata.reflect(bind=engine)

In [7]:
query = "select * from question_templates"
#query = "select * from question_templates where id in (1,3)"
#query = "select * from question_templates where type = 'Multiple Choice'"

result = conn.execute(query).fetchall()
df = pd.DataFrame(result)
df.columns = result[0].keys()

In [8]:
df

,id,question,answer,correct,randomize,type,aota,nota,epsilon,enabled,comments,created_at,last_modified
0,1,The graphs shown on the AutoVisualization page...,"""False""",NaN,NaN,True/False,NaN,NaN,None,1,"labels: ""AutoViz""; author: Chemere Davis",2020-05-06 13:41:05,2020-05-11 19:23:29
1,2,Which graph will show the variables that could...,"[""Skewed Histograms"", ""Outliers"", ""Spikey Hist...",1.0,1.0,Multiple Choice,0.0,1.0,None,1,"labels: ""AutoViz""; author: Chemere Davis",2020-05-06 13:41:05,2020-05-11 19:24:07
2,3,The ______ plot will indicate variables with a...,"[""Outlier"", ""Biplot"", ""Data Heatmap"", ""Recomme...",1.0,1.0,Multiple Choice,0.0,1.0,None,1,"labels: ""AutoViz""; author: Chemere Davis",2020-05-06 13:41:05,2020-05-11 19:24:46
3,4,"By default, correlation scatterplots are inclu...","[""0.95"",""0.90"",""0.85"",""0.80"",""0.75""]",1.0,0.0,Multiple Choice,0.0,0.0,None,1,"labels: ""AutoViz""; author: David Engler",2020-05-06 13:41:05,2020-05-11 19:25:32
4,5,Skewed histograms are presented in descending ...,"""True""",NaN,NaN,True/False,NaN,NaN,None,1,"labels: ""AutoViz""; author: David Engler",2020-05-06 13:41:05,2020-05-11 19:25:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,106,How are the final scoring pipelines ensembles ...,"[""stacked ensemble"", ""mean of the individual m...",1.0,1.0,Multiple Choice,1.0,1.0,None,1,labels: ; author:,2020-05-06 13:41:05,2020-05-26 16:46:58
106,107,MOJOs are thread-safe and an instance of MOJO ...,"""True""",NaN,NaN,True/False,NaN,NaN,None,1,labels: ; author:,2020-05-06 13:41:05,2020-05-26 14:00:27
107,108,Multiclass classification is possible in Drive...,"""True""",NaN,NaN,True/False,NaN,NaN,None,1,labels: ; author:,2020-05-06 13:41:05,2020-05-26 16:48:51
108,109,Multi-label classification is supported in Dri...,"""False""",NaN,NaN,True/False,NaN,NaN,None,1,,2020-05-06 13:41:05,2020-05-26 16:50:22
109,110,How can one reduce the size of a MOJO?,"[""Reduce accuracy"", ""Increase interpretibility...",0.0,1.0,Multiple Choice,1.0,1.0,None,1,"labels: [""Scoring Pipeline"", ""Experiments""]; a...",2020-05-06 13:41:05,2020-05-26 16:51:55

## Creating Test Definitions

In [9]:
testdef = metadata.tables['test_definitions']
print(testdef.columns.keys())

['id', 'name', 'description', 'dai_version', 'created_at', 'last_modified']

In [10]:
subquery = metadata.tables['test_subqueries']
print(subquery.columns.keys())

['id', 'definition_id', 'section', 'prefix', 'definition', 'n', 'randomize', 'created_at', 'last_modified']

#### Below: Insert some test definitions manually (this only needs to be done once

```
## Add an example test definition to the database

ins = testdef.insert().values(
    name = 'All',
    description = "All questions in database", 
    )
## Only needs to be done once
#conn.execute(ins)
```

```
## This query should always return only 1 result, 
## the id which we will pass to the subquery table for tests with multiple sections
## (multiple sql queries to select test questions)

query = "select id from test_definitions where name='All'"
result = conn.execute(query).fetchall()
id = result[0]['id']

ins = subquery.insert().values(
    definition_id = id,
    randomize = False
    )
#conn.execute(ins)
```

```
name = "TF then MC"
ins = testdef.insert().values(
    name = name,
    description = "First TF then MC", 
    )
conn.execute(ins)

## This query should always return only 1 result
query = "select id from test_definitions where name='" + name + "'"
result = conn.execute(query).fetchall()
id = result[0]['id']

statements = ["where type='True/False'", "where type='Multiple Choice'"]

for i, query in enumerate(statements):
    ins = subquery.insert().values(
        definition_id = id,
        section = i+1, 
        definition = query,
        randomize = False
    )
    conn.execute(ins)   
```

Need to automate the above with some code

## Create test from test definition

In [11]:
from sqlalchemy.sql import text
import random

In [12]:
Name = "TF then MC"

## using the text() object to execute across multiple tables
sql = """
   SELECT b.id, a.section, CONCAT(a.prefix, a.definition) AS query, a.randomize, a.n 
   FROM test_subqueries a, test_definitions b 
   WHERE a.definition_id=b.id AND b.name= :name
   """
result = conn.execute(text(sql), name=Name).fetchall()

df = pd.DataFrame(result)
df.columns = result[0].keys()
df

,id,section,query,randomize,n
0,2,1,SELECT id FROM question_templates where type='...,0,0
1,2,2,SELECT id FROM question_templates where type='...,0,0

In [13]:
import random
import sys

In [15]:
result1 = get_queries_by_name("ALL")

In [14]:
result2 = get_queries_by_name("TF then MC")

In [16]:
result1

'(1, 5, 8, 9, 11, 14, 17, 18, 20, 21, 23, 29, 30, 31, 32, 34, 41, 42, 48, 49, 50, 51, 61, 62, 64, 65, 66, 68, 69, 76, 77, 78, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 101, 103, 104, 105, 107, 108, 109, 2, 3, 4, 6, 7, 10, 12, 13, 15, 16, 19, 22, 24, 25, 26, 27, 28, 33, 35, 36, 37, 38, 39, 40, 43, 44, 45, 46, 47, 52, 53, 54, 55, 56, 57, 58, 59, 60, 63, 67, 70, 71, 72, 73, 74, 75, 79, 80, 81, 82, 83, 90, 99, 100, 102, 106, 110)'

#### Add the result to the tests table

In [23]:
## using the text() object to execute across multiple tables
sql = """
SELECT id FROM test_definitions b WHERE name= :name
"""
result = conn.execute(text(sql), name=Name).fetchall()

df = pd.DataFrame(result)
df.columns = result[0].keys()

df['id'][0]

2

In [ ]:
    
    result = []
    for i, query in enumerate(df['query']):
        tmp = get_id_list( df['query'][i], n=df['n'][i], randomize=df['randomize'][i] )
        result = result + tmp # concatenate lists
    
    result = "(" + ', '.join(map(str, result)) + ")"

In [25]:
tests = metadata.tables['tests']
print(tests.columns.keys())

# generate random seed
seed = random.randrange(sys.maxsize)
# get question list
result = get_queries_by_name("TF then MC")
definition_id = get_test_number("TF then MC")

ins = tests.insert().values(
    definition_id = definition_id,
    seed = seed,
    question_list = result
    )
conn.execute(ins)

## Create a new test from the tests table

### Populates the Questions table

['id', 'definition_id', 'seed', 'question_list', 'experiments', 'none_prob', 'created_at']

## Make Test

We are going to iterate over the `questions` and
1. pull a template from the `question_template` table,
2. create the question text and the answer, and
3. save the information back to the `questions` table.

The multiple communication cycles between MySQL and Python are slightly inefficient, but very straightforward. The inefficiency here is irrelevant.

In [26]:
test_id = 2

query = "select id, seed, question_list, experiments, none_prob from tests where id=:id"
result = conn.execute(text(query), id=test_id).fetchall()

# Retrieve experiment information
df = pd.DataFrame(result)
df.columns = result[0].keys()

seed = df['seed'][0]
question_list = df['question_list'][0]
experiments = df['experiments'][0]
none_prob = df['none_prob'][0]

# create list from database question_list string
ql = question_list[1:-1].split(",")
question_list = [int(i) for i in ql]

# question table where questions and answers will be entered
questions = metadata.tables['questions']

# general query for retrieving question templates from db
query = "select * from question_templates where id=:id"
sql = text(query)

In [27]:
question_list.sort()

In [28]:
question_list

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110]

In [34]:
# Set random seed from database
random.seed(seed)

update_database = False
Results = ""

# loop over all questions to create test
for i, id in enumerate(question_list):

    result = conn.execute(sql, id=id).fetchall()
    df = pd.DataFrame(result)
    df.columns = result[0].keys()

    if df['enabled'][0]:
        
        if df['type'][0] == 'True/False':
            q, a = make_true_false(df['question'][0], df['answer'][0])
        elif df['type'][0] == 'Multiple Choice':
            q, a = make_multiple_choice(df['question'][0], eval(df['answer'][0]), 
                                    which=df['correct'][0], randomize=df['randomize'][0],
                                    aota=df['aota'][0], nota=df['nota'][0], none_prob=none_prob)
        else:
            # Gently exit... replace below with better code
            q = ""
            a = ""
            
        if update_database:
            conn.execute(insert_sql,
                question = q,
                answer = a, 
                number = i + 1,
                test_id = test_id,
                template_id = id
                )
        else:
            Results += "\n\n" + q

In [29]:
## Insert or Update on Duplicate statement
insert_stmt = """
        insert into questions (question, answer, number, test_id, template_id) 
        values (:question, :answer, :number, :test_id, :template_id) 
        on duplicate key update
          question = :question,
          answer = :answer,
          number = :number,
          test_id = :test_id,
          template_id = :template_id
        """

insert_sql = text(insert_stmt)

In [36]:
raw_test = Results

In [207]:
#ins = questions.insert().values(
#            question = q,
#            answer = a, 
#            number = i + 1,
#            test_id = test_id,
#            template_id = id) 

#conn.execute(text(stmt), question="YES!", answer="", number=51, test_id=1, template_id=2)

In [37]:
# Set random seed from database
random.seed(seed)

# loop over all questions to create test
for i, id in enumerate(question_list):

    result = conn.execute(sql, id=id).fetchall()
    df = pd.DataFrame(result)
    df.columns = result[0].keys()

    if df['enabled'][0]:
        
        if df['type'][0] == 'True/False':
            q, a = make_true_false(df['question'][0], df['answer'][0])
        elif df['type'][0] == 'Multiple Choice':
            q, a = make_multiple_choice(df['question'][0], eval(df['answer'][0]), 
                                    which=df['correct'][0], randomize=df['randomize'][0],
                                    aota=df['aota'][0], nota=df['nota'][0], none_prob=none_prob)
        else:
            # Gently exit... replace below with better code
            q = ""
            a = ""

        
        ins = questions.insert().values(
            question = q,
            answer = a, 
            number = i + 1,
            test_id = test_id,
            template_id = id
            )
    
        conn.execute(ins)

In [106]:
#query = "select * from question_templates where id=:id"
#sql = text(query)

#result = conn.execute(text(query), id=1).fetchall()

#query = "select question, answer, correct, randomize, type, aota, nota, epsilon, enabled from question_templates where id in " + question_list

#result = conn.execute(query).fetchall()
#df = pd.DataFrame(result)
#df.columns = result[0].keys()

In [5]:
df

,id,question,answer,correct,randomize,type,aota,nota,epsilon,enabled,comments,created_at,last_modified
0,1,The graphs shown on the AutoVisualization page...,"""False""",1,1,True/False,0,0,0.0001,0,"labels: ""AutoViz""; author: Chemere Davis",2020-05-06 13:41:05,2020-05-06 13:41:05
1,2,Which graph will show your variables which cou...,"[""Skewed Histograms"", ""Outliers"", ""Spikey Hist...",1,1,Multiple Choice,0,0,0.0001,0,"labels: ""AutoViz""; author: Chemere Davis",2020-05-06 13:41:05,2020-05-06 13:41:05
2,3,The ______ plot will indicate variables with a...,"[""Outlier"", ""Biplot"", ""Data Heatmap"", ""Recomme...",1,1,Multiple Choice,0,0,0.0001,0,"labels: ""AutoViz""; author: Chemere Davis",2020-05-06 13:41:05,2020-05-06 13:41:05
3,4,Correlation scatterplots are included for any ...,"[""0.95"",""0.90"",""0.85"",""0.80"",""0.75""",1,0,Multiple Choice,0,0,0.0001,0,"labels: ""AutoViz""; author: David Engler",2020-05-06 13:41:05,2020-05-06 13:41:05
4,5,Skewed histograms are presented in descending ...,"""True""",1,1,True/False,0,0,0.0001,0,"labels: ""AutoViz""; author: David Engler",2020-05-06 13:41:05,2020-05-06 13:41:05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,106,Kiri Nichol,Is the final scoring pipeline always an ensamb...,1,1,Multiple Choice,0,0,0.0001,0,labels: ; author:,2020-05-06 13:41:05,2020-05-06 13:41:05
106,107,How are the final scoring pipelines ensembles ...,"""True""",1,1,True/False,0,0,0.0001,0,labels: ; author:,2020-05-06 13:41:05,2020-05-06 13:41:05
107,108,"[""stacked ensemble"", ""mean of the individual m...","""False""",1,1,True/False,0,0,0.0001,0,labels: ; author:,2020-05-06 13:41:05,2020-05-06 13:41:05
108,109,MOJOs are thread-safe and an instance of MOJO ...,"""True""",1,1,True/False,0,0,0.0001,0,labels: ; author:,2020-05-06 13:41:05,2020-05-06 13:41:05
109,110,Can I do multi-label classification in Driverl...,Is multi-class classification supported?,0,1,Multiple Choice,0,0,0.0001,0,labels: How do I reduce the size of the MOJO?;...,2020-05-06 13:41:05,2020-05-06 13:41:05

In [173]:
print(q)

Which graph will show your variables that could be good candidates for transformation before being used in modeling?
a) Spikey Histograms
b) Skewed Histograms
c) Outliers
d) Correlation Graph
e) None of the above

In [174]:
print(a)

b

In [83]:
import random

In [107]:
seed

1778253695752227620

In [108]:
df

,id,question,answer,correct,randomize,type,aota,nota,epsilon,enabled,comments,created_at,last_modified
0,1,The graphs shown on the AutoVisualization page...,"""False""",NaN,NaN,True/False,NaN,NaN,NaN,1,"labels: ""AutoViz""; author: Chemere Davis",2020-05-06 13:41:05,2020-05-11 14:50:06
1,2,Which graph will show your variables which cou...,"[""Skewed Histograms"", ""Outliers"", ""Spikey Hist...",1.0,1.0,Multiple Choice,0.0,0.0,0.0001,0,"labels: ""AutoViz""; author: Chemere Davis",2020-05-06 13:41:05,2020-05-06 13:41:05
2,3,The ______ plot will indicate variables with a...,"[""Outlier"", ""Biplot"", ""Data Heatmap"", ""Recomme...",1.0,1.0,Multiple Choice,0.0,0.0,0.0001,0,"labels: ""AutoViz""; author: Chemere Davis",2020-05-06 13:41:05,2020-05-06 13:41:05
3,4,Correlation scatterplots are included for any ...,"[""0.95"",""0.90"",""0.85"",""0.80"",""0.75""",1.0,0.0,Multiple Choice,0.0,0.0,0.0001,0,"labels: ""AutoViz""; author: David Engler",2020-05-06 13:41:05,2020-05-06 13:41:05
4,5,Skewed histograms are presented in descending ...,"""True""",NaN,NaN,True/False,NaN,NaN,NaN,0,"labels: ""AutoViz""; author: David Engler",2020-05-06 13:41:05,2020-05-11 14:49:14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,106,Kiri Nichol,Is the final scoring pipeline always an ensamb...,1.0,1.0,Multiple Choice,0.0,0.0,0.0001,0,labels: ; author:,2020-05-06 13:41:05,2020-05-06 13:41:05
106,107,How are the final scoring pipelines ensembles ...,"""True""",NaN,NaN,True/False,NaN,NaN,NaN,0,labels: ; author:,2020-05-06 13:41:05,2020-05-11 14:49:14
107,108,"[""stacked ensemble"", ""mean of the individual m...","""False""",NaN,NaN,True/False,NaN,NaN,NaN,0,labels: ; author:,2020-05-06 13:41:05,2020-05-11 14:49:14
108,109,MOJOs are thread-safe and an instance of MOJO ...,"""True""",NaN,NaN,True/False,NaN,NaN,NaN,0,labels: ; author:,2020-05-06 13:41:05,2020-05-11 14:49:14
109,110,Can I do multi-label classification in Driverl...,Is multi-class classification supported?,0.0,1.0,Multiple Choice,0.0,0.0,0.0001,0,labels: How do I reduce the size of the MOJO?;...,2020-05-06 13:41:05,2020-05-06 13:41:05

In [110]:
questions

[1,
 5,
 8,
 9,
 11,
 14,
 17,
 18,
 20,
 21,
 23,
 29,
 30,
 31,
 32,
 33,
 34,
 41,
 42,
 48,
 49,
 51,
 61,
 62,
 64,
 65,
 66,
 68,
 69,
 76,
 77,
 78,
 84,
 85,
 87,
 88,
 89,
 91,
 93,
 94,
 96,
 97,
 98,
 101,
 103,
 104,
 105,
 107,
 108,
 109,
 2,
 3,
 4,
 6,
 7,
 10,
 12,
 13,
 15,
 16,
 19,
 22,
 24,
 25,
 26,
 27,
 28,
 35,
 36,
 37,
 38,
 39,
 40,
 43,
 44,
 45,
 46,
 47,
 50,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 63,
 67,
 70,
 71,
 72,
 73,
 74,
 75,
 79,
 80,
 81,
 82,
 83,
 86,
 90,
 92,
 95,
 99,
 100,
 102,
 106,
 110]

### Iterate over questions to create a test

In [111]:
i = 0

In [112]:
if df['type'][i] == 'True/False':
    q, a = make_true_false(df['question'][i], df['answer'][i])

In [113]:
print(q)

The graphs shown on the AutoVisualization page are the same for all datasets.
a) True
b) False

In [114]:
print(a)

b

In [115]:
import numpy as np
np.argsort(questions)

array([  0,  50,  51,  52,   1,  53,  54,   2,   3,  55,   4,  56,  57,
         5,  58,  59,   6,   7,  60,   8,   9,  61,  10,  62,  63,  64,
        65,  66,  11,  12,  13,  14,  15,  16,  67,  68,  69,  70,  71,
        72,  17,  18,  73,  74,  75,  76,  77,  19,  20,  78,  21,  79,
        80,  81,  82,  83,  84,  85,  86,  87,  22,  23,  88,  24,  25,
        26,  89,  27,  28,  90,  91,  92,  93,  94,  95,  29,  30,  31,
        96,  97,  98,  99, 100,  32,  33, 101,  34,  35,  36, 102,  37,
       103,  38,  39, 104,  40,  41,  42, 105, 106,  43, 107,  44,  45,
        46, 108,  47,  48,  49, 109])

In [ ]:
df['randomize'][1]

In [ ]:
from random import shuffle


shuffle(df['id'])

In [ ]:
df

In [ ]:

df = pd.DataFrame(result)
df.columns = result[0].keys()

mystring = "(" + df['id'].to_csv(header=False, index=False, line_terminator=", ")[:-2] + ")"
mystring

In [ ]:
result = conn.execute(query).fetchall()

df = pd.DataFrame(result)
df.columns = result[0].keys()

In [ ]:
ins = testquery.insert().values(
    name = "All Enabled",
    definition = "where enabled=1",
    description = "All enabled questions in database", 
    randomize = False
    )

conn.execute(ins)

In [ ]:
ins = testdef.insert().values(
    name = "All Enabled",
    definition = "where enabled=1",
    description = "All enabled questions in database", 
    randomize = False
    )

conn.execute(ins)

In [ ]:
ins = testdef.insert().values(
    name = "All TF",
    definition = "where type='True/False'",
    description = "All True/False questions in database", 
    randomize = False
    )

conn.execute(ins)

In [ ]:
ins = testdef.insert().values(
    name = "All Multiple Choice",
    definition = "where type='Multiple Choice'",
    description = "All True/False questions in database", 
    randomize = False
    )

conn.execute(ins)

# Formatting Questions
### Example formatting a true/false question
#### With numbering

In [ ]:
## The query (queries) will come from the test_definitions table
query = "select id from question_templates"

In [ ]:
query = "select id, question, answer, correct, randomize, type, aota, nota"
query += "from question_templates" 
query += "where id=1"

#query = "select * from question_templates"
#query = "select * from question_templates where id in (1,3)"
#query = "select * from question_templates where type = 'Multiple Choice'"

In [ ]:
result = conn.execute(query).fetchall()
df = pd.DataFrame(result)
df.columns = result[0].keys()

In [ ]:
df

In [ ]:
qnum = 1
w = 0
q, a = make_true_false(number = qnum, question = df['question'][w], answer = df['answer'][w])
print(q)
print(a)

In [ ]:
# Question fields
questions = metadata.tables['questions']
print(questions.columns.keys())

In [ ]:
ins = questions.insert().values(
    question = q,
    answer = a, 
    item = qnum,
    test_id = 0,
    template_id = df['id'][w]
    )

conn.execute(ins)

In [ ]:
df['id'][w]

#### Without numbering

In [ ]:
qnum = 1
w = 0
q, a = make_true_false(question = df['question'][w], answer = df['answer'][w])
print(q)
print(a)

### Example formatting a multiple choice question
#### With numbering

In [ ]:
w = 1 
qnum = 5
q, a = make_multiple_choice(
        number = qnum, 
        question = df['question'][w],
        choices = eval(df['answer'][w]),
        which = df['correct'][w],
        randomize = df['randomize'][w],
        aota = df['aota'][w]==1, 
        nota = df['nota'][w]==1)

print(q)
print(a)

#### Without numbering

In [ ]:
w=1
qnum = 5
q, a = make_multiple_choice(
        question = df['question'][w],
        choices = eval(df['answer'][w]),
        which = df['correct'][w],
        randomize = df['randomize'][w],
        aota = df['aota'][w], 
        nota = df['nota'][w])

print(q)
print(a)

## Looping over multiple rows
### With numbering

In [ ]:
for w, id in enumerate(df['id']): 

    if df['type'][w] == 'Multiple Choice':
        q, a = make_multiple_choice(
            number = w + 1, 
            question = df['question'][w],
            choices = eval(df['answer'][w]),
            which = df['correct'][w],
            randomize = df['randomize'][w],
            aota = df['aota'][w], 
            nota = df['nota'][w]
        )
    elif df['type'][w] == 'True/False':      
        q, a = make_true_false(
            number = w + 1,
            question = df['question'][w], 
            answer = df['answer'][w]
        )
        
    print(q)
    print(a)
    print("\n")

In [ ]:
for w, id in enumerate(df['id']): 

    if df['type'][w] == 'Multiple Choice':
        q, a = make_multiple_choice(
            question = df['question'][w],
            choices = eval(df['answer'][w]),
            which = df['correct'][w],
            randomize = df['randomize'][w],
            aota = df['aota'][w], 
            nota = df['nota'][w]
        )
    elif df['type'][w] == 'True/False':      
        q, a = make_true_false(
            question = df['question'][w], 
            answer = df['answer'][w]
        )
        
    print(q)
    print(a)
    print("\n")

## Write to database table

In [ ]:
engine.table_names()

In [ ]:
questions = metadata.tables['questions']
print(questions.columns.keys())

In [ ]:
test_id = 5
item = 1

ins = questions.insert().values(
    question = q,
    answer = a, 
    item = item, 
    test_id = test_id, 
    template_id = df['id'][w]
)

conn.execute(ins)

In [ ]:
import random

## Save the seed in tests
seed = random.randint(1,1e10)
seed

In [ ]:

test_id = 99
w = 0
q, a = make_multiple_choice(
            question = df['question'][w],
            choices = eval(df['answer'][w]),
            which = df['correct'][w],
            randomize = df['randomize'][w],
            aota = df['aota'][w], 
            nota = df['nota'][w]
)

In [ ]:
random.state()

In [ ]:
for w, id in enumerate(df['id']): 

    if df['type'][w] == 'Multiple Choice':
        q, a = make_multiple_choice(
            question = df['question'][w],
            choices = eval(df['answer'][w]),
            which = df['correct'][w],
            randomize = df['randomize'][w],
            aota = df['aota'][w], 
            nota = True
        )
    elif df['type'][w] == 'True/False':      
        q, a = make_true_false(
            question = df['question'][w], 
            answer = df['answer'][w]
        )
        
    print(q)
    print(a)
    print("\n")

In [ ]:
random.seed(seed)

In [ ]:
for w, id in enumerate(df['id']): 

    if df['type'][w] == 'Multiple Choice':
        q, a = make_multiple_choice(
            question = df['question'][w],
            choices = eval(df['answer'][w]),
            which = df['correct'][w],
            randomize = df['randomize'][w],
            aota = df['aota'][w], 
            nota = True
        )
    elif df['type'][w] == 'True/False':      
        q, a = make_true_false(
            question = df['question'][w], 
            answer = df['answer'][w]
        )
        
    print(q)
    print(a)
    print("\n")

## Quick import from Excel File